<%- include('includes/head.ejs') %>
<body
  style="
    background-image: url('img/bg-add.png');
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
  "
>
  <% if (success && success.length > 0) { %>
  <div id="successMessage" class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %> <% if (error && error.length > 0) { %>
  <div id="errorMessage" class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
  <% if (user && user.role === 'admin') { %>
    <a href="/adminPage" class="btn btn-transparent btn-icon home-button">
  <% } else if (user && user.role === 'petugas') { %>
    <a href="/petugasPage" class="btn btn-transparent btn-icon home-button">
  <% } else { %>
    <a href="/" class="btn btn-transparent btn-icon home-button"> <!-- Default link if role is neither admin nor petugas -->
  <% } %>
    <i class="fas fa-home fa-3x text-black mt-2"></i>
  </a>
</div>
      <div class="col-4"></div>
      <div class="col-4 position-relative">
        <img
          src="img/Books.png"
          class="position-absolute top-0 end-0"
          alt="Logo"
          width="100"
        />
      </div>
    </div>
  </div>

  <div class="container col-4 center-container-input-admin">
    <div class="row">
      <div class="col">
        <form method="POST">
          <div class="mb-3">
            <input
              type="text"
              class="form-control custom-form-input"
              placeholder="ID Petugas"
              name="id_admins"
              value="<%= user && user.id %>"
              readonly
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control custom-form-input"
              placeholder="JUDUL BUKU"
              name="Judul"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control custom-form-input"
              placeholder="NAMA PENGARANG"
              name="Pengarang"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control custom-form-input"
              placeholder="PENERBIT"
              name="Penerbit"
            />
          </div>
          <div class="mb-3" style="text-align: center">
            <input
              type="number"
              class="form-control custom-form-input"
              placeholder="Tahun Terbit"
              id="tahun"
              name="Tahun"
              min="1900"
              max="2024"
            />
          </div>
          <div class="mb-3">
            <input
              type="number"
              class="form-control custom-form-input"
              placeholder="ISBN"
              name="ISBN"
            />
          </div>
          <div class="mb-3" style="text-align: center">
            <select name="Status" id="status">
              <option value="tersedia">Tersedia</option>
              <option value="tidak tersedia">Tidak Tersedia</option>
            </select>
          </div>
          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-primary button-input-save-admin"
            >
              S A V E
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('includes/end.ejs') %>
</body>
